* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  background-color: rgb(185, 165, 195);
}

.carousel-frame {
  position: relative;
  width: 80%;
  height: min(calc(90vh - 10px), 350px);
  margin: 10px auto;
  overflow: hidden;
  box-shadow: inset 60px 0px 60px -60px rgb(0, 0, 0),
    inset -60px 0px 60px -60px rgb(0, 0, 0);
  background-image: radial-gradient(
    circle,
    transparent,
    transparent 75%,
    rgba(0, 0, 0, 0.3)
  );
  background-color: white;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.carousel-slide img {
  width: 100%;
  object-fit: cover;
}

.prev-btn {
  position: absolute;
  top: 50%;
  left: 5%;
  margin-top: -15px;
  z-index: 10;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.next-btn {
  position: absolute;
  top: 50%;
  right: 5%;
  margin-top: -15px;
  z-index: 10;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.navigation-dots {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  margin: 0 auto;
  width: max(100px, 15%);
  display: flex;
  justify-content: space-between;
}

.navigation-dots li {
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
}
